//// font size
$font_nav_size:13px;

$font_banner_title_size:24px;
$font_banner_text_size:15px;
$font_banner_btn_size:15px;

$font_content_title_size:20px;
$font_content_text_size:15px;
$font_content_link_size:15px;

$font_content_workPlace_title_size:24px;

$font_footer_size:11px;

// font size - for tap and phone

$font_banner_title_small_size:20px;

$font_content_title_small_size:18px;


//font size for big screen

$font_banner_title_big_size:46px;


//// font color
$font_nav_color_gary:#262626;

$font_banner_title_color:black;
$font_banner_text_color:black;
$font_banner_btn_color:#FFF;

$font_content_title_color:black;
$font_content_text_color:black;
$font_content_link_color:#0067b8;

$font_footer_color:#616161;

////font family

$font_family_dafult:'Segoe UI',SegoeUI,'Microsoft JhengHei',微軟正黑體,"Helvetica Neue",Helvetica,Arial,sans-serif

